[Unit]
Description=Ditcoin Full Node
After=network.target

[Service]
User=ditcoin
Group=ditcoin
WorkingDirectory=~

Type=forking
PIDFile=/var/run/ditcoind.pid

ExecStart=/usr/bin/ditcoind --config-file /etc/ditcoind.conf \
    --detach --pidfile /var/run/ditcoind.pid

[Install]
WantedBy=multi-user.target
